

.success-message-section{
    display: flex;
    flex-direction: row;
    
}

.success-div-left{
    flex: 1;
    // background-color: red;
}

.success-div-right{
    flex: 2;
    // background-color: blue;
}

.cash-img{
    height: 120pt;
}

.success-p{
    color: #242424;
    font-size: 1.8em;
    font-weight: 700;
}



@media (max-width:480px)  { 
    .success-message-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        // background-color: red;
    }


    // .success-div-left{
    //     flex: 1;
    //     // background-color: red;
    // }

    // .success-div-right{
    //     flex: 1;
    //     // background-color: blue;
    // }

 }
