.full-bg{
    background-color: rgb(105, 105, 105);
    background-size: cover;
    background-repeat: no-repeat;
    // display: flex;
}

.bg1{
    background-image: url('../../images/top-bg.jpg');
}

.bg2{
    background-image: url('../../images/finished_bg.jpg');
}

.bottom-bg-section{
    background-color: rgb(138, 137, 137);
    background-image: url('../../images/bottom-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
}
.page-wrapper{
    position: relative;
}
.full-layout{
    height: 100vh;
    display: flex;
    padding-top: 10vh;
    // left: 10%;
}

// finished_bg_vertical

@media (max-width:480px)  { 
    .layout{
        top: 20vh;  
    }

    .bg2{
        background-image: url('../../images/finished_bg_vertical.jpg');
    }

 }
