
.info-section{
    // background-color: red;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.home-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    font-size: 2.5em;
    font-weight: 400;
}

.home-p{
    color: #fff;
    font-weight: 200;
    font-style: italic;
}

.green_bg{
    background-color: #46F7AD !important;
    color: #153853 !important;
    width: 10rem;
    margin-top: 10%;
}

.ui-form .field>label {
    // color: #f44336;
    display: block;
    margin: 0 0 .28571429rem 0;
    // color: rgba(0,0,0,.87);
    font-size: .92857143em;
    font-weight: 700;
    text-transform: none;
    color: white !important;
}

// .reg-lbl{
//     text-align: left;
//     display: block;
//     margin-bottom: 10px;
//     color: #fff;
// }

// .reg-form{
//     text-align: left;
// }

.reg-input{
    background-color: transparent  !important;;
    border: solid 1px #fff  !important;
    color: white !important;
}

.field label{
    text-align: left;
    color: #fff !important;
}

h4{
    color: #fff;
}