.top-bg-section{
    height: 60vh;
    background-color: rgb(105, 105, 105);
    background-image: url('../../images/top-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.bottom-bg-section{
    background-color: rgb(138, 137, 137);
    background-image: url('../../images/bottom-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
}
.page-wrapper{
    position: relative;
}
.layout{
    position: absolute;
    top: 30vh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    // left: 10%;
}

@media (max-width:480px)  { 
    .layout{
        top: 20vh;  
    }

 }
