.carousel-indicators{
    height: 10px;
    width: 100%;
}

.indicator-item{
    height: 6px;
    background-color: #EFF8FF;
    width: 26%;
    float: left;
    margin-right: 5%;
}

.active{
    background-color: #153853;
}

.active-bg{
    background-color: #153853;
    color: #fff !important;
}

.active-color{
    color: #153853 !important;
}

.question-text-container{
    margin: 20px 0px;
}

.question-text-container p{
    font-size: 1.2em;
}

.lbl-brd{
    border: solid 1px #ccc;
    color: #979797;
    width: 40pt;
    padding: 2pt;
    border-radius: 5pt;
    display: inline-block;
    text-align: right;
}

.lbl-txt{
    color: #979797;
    margin-left: 5px;
}

.lbl-item{
    // background-color: red;
    width: 15rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    float: left;
    cursor: pointer;
}

.lbl-item:hover{
    font-weight: bold;
}
.s-card{
    // border: solid 1px #666;
    background-color: #fff;
    overflow:auto; 
    padding: 5rem 5rem;
    border-radius: 50px;
}


@media (max-width:480px)  { 
    .s-card{
        padding: 3rem 2rem;
        border-radius: 20px;
    }

 }



.carousel-controls{
    height: 50px;
}



.control-item{
    height: 6px;
    float: left;
}

.control-item i{
    color: #ccc;
    font-size: 2em;
    cursor: pointer;
}
.control-item i:hover{
    color: rgb(143, 143, 143);
}

.arrow-container{
    width: 20%;
}

.index-txt{
    width: 60%;
    text-align: center;
    font-weight: bold;
    color: #666;
}

.question-text-wrapper{
    // background-color: red;
    height: 200px;
}

.blue_bg{
    background-color: #153853 !important;
    color: #fff !important;
}

.spinner-segment{
    border: none !important;
    box-shadow: none !important;
}